$gray-square-height: 150px;
$dark-gray: #5F6468;
$light-gray: #E0E0E0;

    .conversor {
        height: 100vh;
    }

    .header {   
        height: 48px;
        border-bottom: 1px solid $light-gray;
        padding: 8px;
    }

    .top {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .menu-button {
        height: 24px;
        width: 24px;
        padding: 12px;
        margin: 0 4px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .menu-button:hover {
        background-color: #F0F0F0;
        border-radius: 50%;
    }

    .menu-button img {
        color: $dark-gray;
    }

    .brand {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .brand img {
        padding-right: 8px;
    }

    .gray-square {
        background-color: #FAFAFA;
        height: $gray-square-height;
        // margin-top: 0;
        border-bottom: 1px solid $light-gray;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1280px;
        height: 200px;
        border: 1px solid  $light-gray;
        border-radius: 10px;
        box-shadow: 2px 2px 2px #c5c5c5;
        margin: ($gray-square-height / -2) auto 0;
        background-color: #fff;
    }


    .currency {
        display: flex;
        width: 100%;
        position: relative;
        border-bottom: 1px solid $light-gray;
    } 

    .currency ul {
        display: flex;
        max-width: 90%;
        font-size: .9em;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .currency ul li {
        display: flex;
        align-items: center;
        list-style: none;
        height: 50px;
        font-weight: 600;
        cursor: pointer;
    } 
    
    .currency ul li a:hover {
        border-bottom: 3px solid #4784F3;
        margin-bottom: -4px;
    }
    
    .currency ul li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #4784F3;
        padding: 0px 30px;
        height: 40px;
        width: 100%;
    }

    .currency span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        cursor: pointer;
    }

    .group1{
        width: 47.5%;
        display: flex;
        justify-content: space-around;
    }

    .swap-button{
        margin: auto;
        height: 100%;
        width: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
    }

    .swap-button .swap {
        width: 15px;
        height: 15px;
        content: url("../assets/swap.png");
    }

    .swap-button .swap:hover {
        content: url("../assets/swap-hover.png");
    }

    .group2 {
        width: 47.5%;
        display: flex;
        justify-content: space-around;
    }

    .display {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .display .input-value {
        width: 50%;
        height: 100%;
        border-right: 1px solid $light-gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .display .input-value p {
        align-self: flex-end;
        margin-right: 50px;
        font-size: .8em;
        color: $dark-gray;
    }

    .display input {
        width: 90%;
        height: 50%;
        font-family: Avenir, Helvetica, Arial, sans-serif;
        font-size: 1.5em;
        border: none;
        outline: none;
    }

    .display .output-value {
        width: 50%;
        height: 100%;
        display: flex;
        background-color: #f7f5f5;
    }

    .display .output-value p {
        font-size: 1.5em;
        margin-left: 4%;
        width: 90%;
    }

    .feedback {
        font-size: .7em;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 1280px;
        margin: 10px auto;
    }

    .feedback a {
        text-decoration: none;
        color: $dark-gray;
    }

    footer {
        width: 30%;
        display: flex;
        justify-content:space-around;
        margin: 80px auto;
    }

    footer div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        font-size: .9rem;
        font-weight: 600;
        color: $dark-gray;
    }

    .circle {
        display: flex;
        align-items: center;
        justify-content:center;
        width: 70px;
        height: 70px;
        border: 1px solid $light-gray;
        border-radius: 50%;
    }

    .circle a {
        display: flex;
        justify-content: center;
        align-items: center;
    }